# Ignore everything in target except the JAR file
target/*
!target/freshfood-1.0.jar

# Ignore IDE configurations
.idea
*.iml
*.class

# Ignore Git and logs
.git
*.log

# Ignore system files
.DS_Store
*.swp
